<h3><%= "Active Channels(#{locals[:channels].length}) for Team #{locals[:team].auth_json['info']['team']} added by #{locals[:team].auth_json['info']['user']}" %></h3>
<% unless locals[:channels].empty? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Slack Chan Id</th>
        <th>Dm User Id</th>
        <th>Archived?</th>
        <th>Deleted</th>
        <th>Added To MiaDo on Date</th>
        <th>Last Updated Date</th>
        <th>Task Lists</th>
      </tr>
    </thead>
    <tbody>
      <% locals[:channels].each do |channel| %>
        <%= render partial: 'channels/admin_views/index_channel',
                   locals: { locals: { channel: channel } }
        %>
      <% end %>
    </tbody>
  </table>
  <% end %>
<br>
