<header class="css-body-header">
  <%= render partial: 'shared/paginate_page_header',
             locals: { locals: { title: "#{locals[:num_channels]} Active #{'*channel'.pluralize(locals[:num_channels])}* in #{locals[:num_teams]} #{'Team'.pluralize(locals[:num_teams])}",
                                 path: method(:teams_path),
                                 pagination_collection: locals[:teams_paginated],
                                 page_param_name: 'team_page'
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <% locals[:teams_paginated].each_with_index do |installation, index| %>
      <%= render partial: 'channels/admin_views/index_team',
                 locals: { locals: { index: index,
                                     per_page: locals[:per_page],
                                     page: locals[:page],
                                     team: installation,
                                     num_team_channels: Channel.num_channels(installation: installation),
                                     num_team_members: Member.num_members(installation: installation),
                                     team_members_paginated: Member.members(installation: installation)
                                                                   .paginate(page: params[:member_page], per_page: 1)
                                   }
                         }
      %>
    <% end %>
    </div>
</main>
