<% channel = locals[:channel]
   if channel.last_activity_type.starts_with?('slash_command')
     if channel.last_activity_type == 'slash_command - help'
       description = channel.last_activity_type
     elsif channel.last_activity_type == 'slash_command - list'
       description = channel.after_action_parse_hash['command']
     else
       description = locals[:last_item].debug_trace
     end
   else
     description = channel.last_activity_type
   end
%>

<tr>
  <td><%= "#{channel.slack_channel_name} - #{channel.members_hash[ channel.slack_user_id ]['slack_user_name']}" %></td>
  <td><%= channel.last_activity_type %>
    <br>@<%= channel.last_activity_date.nil? ? '' : channel.last_activity_date.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %></td>
  <td><%= description %></td>
</tr>
