<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: { locals: { title: "#{locals[:total_items]} Tasks in #{locals[:channels].length} Channels in #{locals[:teams].length} Team",
                                 pagination_collection: locals[:items]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <hr>
    <% locals[:teams].each do |installation| %>
      <%= render partial: 'items/admin_views/index_team',
                 locals: { locals: { installation: installation,
                                     auth_info: installation.auth_json['info'],
                                     items: ListItem.items(slack_team_id: installation.slack_team_id),
                                   }
                         }
      %>
    <% end %>
    </div>
</main>
