<header class="css-body-header">
  <%= render partial: 'shared/paginate_page_header',
             locals: { locals: { title: "#{pluralize(locals[:num_teams], '*Team')}* whose members have installed MiaDo #{pluralize(locals[:num_installations], 'time')}.",
                                 path: method(:teams_path),
                                 pagination_collection: locals[:teams_paginated]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <% locals[:teams_paginated].each_with_index do |installation, index| %>
      <%= render partial: 'teams/admin_views/show_team',
                 locals: { locals: { index: index,
                                     per_page: locals[:per_page],
                                     page: locals[:page],
                                     team: installation,
                                     team_members: Member.members(installation: installation),
                                     team_channels: Channel.channels(installation: installation),
                                     num_team_items: ListItem.num_items(slack_team_id: installation.slack_team_id),
                                     num_team_installations: Installation.num_installations(slack_team_id: installation.slack_team_id),
                                     auth_info: installation.auth_json['info'],
                                     auth_extra: installation.auth_json['extra'],
                                     last_active: Channel.last_active(slack_team_id: installation.slack_team_id)
                                   }
                         }
      %>
    <% end %>
  </div>
</main>
