<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: @view.locals = { title: 'Admin Dashboard - Teams' }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <h2>Teams<%= " (#{@view.teams.length})" %></h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Added By</th>
          <th>Members</th>
          <th>Channels</th>
          <th>Channel Lists</th>
          <th>Bot Lists</th>
        </tr>
      </thead>
      <tbody>
        <% @view.teams.each do |team| %>
          <%= render partial: 'teams/admin_views/index_team',
                     locals: @view.locals = { user: team.user, team: team }
          %>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
