<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: { locals: { title: 'Admin Dashboard - Teams' } }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <h2>Teams<%= " (#{locals[:teams].length})" %></h2>
    <br>
    <% locals[:teams].each do |channel| %>
      <%= render partial: 'teams/admin_views/show_team',
                 locals: { locals: { team: channel,
                                     members: Channel.team_members(slack_team_id: channel.slack_team_id),
                                     channels: Channel.team_channels(slack_team_id: channel.slack_team_id),
                                     lists: Channel.team_lists(slack_team_id: channel.slack_team_id),
                                     auth_info: channel.auth_json['info'],
                                     auth_extra: channel.auth_json['extra']
                                   }
                         }
      %>
    <% end %>
  </div>
</main>
