<tr>
  <% bot_name = "@#{locals[:auth_extra]['bot_info']['bot_user_id']}"
  %>
  <td><u><%= link_to bot_name, '#' %></u></td>
  <td><%= locals[:team].bot_api_token %></td>
  <td><%= link_to " (0)", '#' %></td>
</tr>
