<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: { locals: { title: "Teams(#{locals[:total_teams]}) whose members have installed MiaDo #{locals[:installations].length} times.",
                                 pagination_collection: locals[:teams]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <br>
    <% locals[:teams].each do |installation| %>
      <%= render partial: 'teams/admin_views/show_team',
                 locals: { locals: { team: installation,
                                     members: Member.team_members(slack_user_id: installation.slack_user_id,
                                                                  slack_team_id: installation.slack_team_id),
                                     channels: Installation.team_channels(slack_team_id: installation.slack_team_id),
                                     lists: Installation.team_lists(slack_team_id: installation.slack_team_id),
                                     installations: Installation.installations(slack_team_id: installation.slack_team_id),
                                     auth_info: installation.auth_json['info'],
                                     auth_extra: installation.auth_json['extra'],
                                     last_activity: Channel.last_activity(slack_team_id: installation.slack_team_id)
                                   }
                         }
      %>
    <% end %>
  </div>
</main>
