<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: { locals: { title: "Teams(#{locals[:total_teams]}) whose members have installed MiaDo #{locals[:num_installations]} times.",
                                 pagination_collection: locals[:teams]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <% locals[:teams].each do |installation| %>
      <%= render partial: 'teams/admin_views/show_team',
                 locals: { locals: { team: installation,
                                     team_members: Member.team_members(slack_team_id: installation.slack_team_id),
                                     team_channels: Channel.team_channels(slack_team_id: installation.slack_team_id),
                                     team_list_items: [], # ListItem.team_lists(slack_team_id: installation.slack_team_id),
                                     installations: Installation.installations(slack_team_id: installation.slack_team_id),
                                     auth_info: installation.auth_json['info'],
                                     auth_extra: installation.auth_json['extra'],
                                     last_active: Channel.last_active(slack_team_id: installation.slack_team_id)
                                   }
                         }
      %>
    <% end %>
  </div>
</main>
