<% team = @view.locals[:team] %>
<h3><%= link_to team.name,
                team_path(team),
                title: "Created on #{team.created_at.strftime('%c')}" %></h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Added By</th>
      <th>Added On</th>
      <th>Updated On</th>
      <th>Api Token</th>
      <th>Members</th>
      <th>Channels</th>
      <th>Channel Lists</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'teams/admin_views/index_team_line1',
               locals: @view.locals = { team: team }
    %>
  </tbody>
</table>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Bot Name</th>
      <th>Bot Token</th>
      <th>Bot Channel Lists</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'teams/admin_views/index_team_line2',
               locals: @view.locals = { team: team }
    %>
  </tbody>
</table>
