<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: @view.locals = { title: 'Admin Dashboard - Show Team' }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <%= render partial: 'teams/admin_views/show_team',
               locals: @view.locals = { team: @view.team }
    %>
  </div>
</main>
