<h3><u><%= link_to locals[:auth_info]['team'],
                team_path(locals[:team]),
                title: "Created on #{locals[:team].created_at.strftime('%c')}" %></u></h3>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Added By</th>
      <th>Added On</th>
      <th>Updated On</th>
      <th>Api Token(last 25 digits)</th>
      <th>Members</th>
      <th>Active<br>Channels</th>
      <th>Channel Lists</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'teams/admin_views/index_team_line1',
               locals: { locals: { team: locals[:team],
                                   members: locals[:members],
                                   channels: locals[:channels],
                                   lists: locals[:lists],
                                   auth_info: locals[:auth_info]
                                 }
                       }
    %>
  </tbody>
</table>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Bot Name</th>
      <th>Bot Token</th>
      <th>Bot Channel Lists</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'teams/admin_views/index_team_line2',
               locals: { locals: { team: locals[:team],
                                   auth_info: locals[:auth_info],
                                   auth_extra: locals[:auth_extra]
                                 }
                       }
    %>
  </tbody>
</table>
