<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
  From:&nbsp;&nbsp;&nbsp;'<%= @comment.name %>' at <%= @comment.email %>
</p>
<h2>Comment</h2>
<p>
  <%= @comment.body %>
</p>
</body>
</html>
