<div class="row" style="margin-bottom: 0px; margin-top: 50px;">
  <div class="col-md-10 css-page-title">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading text-center"><%= locals[:title] %></h2>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 0px; margin-top: 0px; padding-left: 28px;">
  <div class="css-index-top-pagination">
    <% page_param_name = 'page' unless locals.key?(:page_param_name)
       page_param_name = locals[:page_param_name] if locals.key?(:page_param_name)
    %>
    <%= will_paginate locals[:pagination_collection],
                      :style => 'margin: 0px; padding: 0px;',
                      :param_name => page_param_name %>
  </div>
</div>
