<div class="row" style="margin-bottom: 30px;">
  <div class="col-md-2">
  </div>
  <div class="col-md-8 css-page-title">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading text-center"><%= @view.locals[:title] %></h2>
      </div>
    </div>
  </div>
</div>
