<center><h1>About MiaDo</h1></center>

<div class="row">
  <div class="col-md-4">
    <h2>Simple to xxxxx</h2>
    <p>Just xxxxx.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Simple to yyyyyy</h2>
      <p>Just yyyyyy.
      </p>
  </div>
  <div class="col-md-4">
    <h2>Simple zzzzzz</h2>
      <p>Just zzzzz.
      </p>
  </div>
</div>
