<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>MiaDo Tutorials</title>
	<meta name="description" content="This is a tutorial video about MiaDo" />

	<!-- Facebook Meta Tags -->
	<meta property="og:title" content="MiaDo Tutorials"/>
	<meta property="og:image" content="https://davidwalsh.name/wp-content/themes/klass/img/facebooklogo.png"/>
	<meta property="og:site_name" content="MiaDo"/>
	<meta property="og:description" content="This is a tutorial video about MiaDo"/>

</head>
<body>

</body>
</html>
