<div class="container-fluid css-add-to-slack">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="jumbotron">
        <center>
          <h1>MiaDo</h1>
          <%= image_tag 'dog_head_icon.png', class: 'img-circle',
              style: 'margin-right: 20px;',
              size: '100x100' %>
              <h3>
                Thanks,&nbsp;<%= "#{@view.locals[:user_name]} for adding #{@view.locals[:bot_name]} to manage" %><br>
                tasks for your <%= @view.locals[:team_name] %>&nbsp;team!
              </h3>
          <br><br>
          <p>
            <%= link_to 'Continue to Slack', @view.locals[:slack_url], class: 'btn btn-primary btn-lg' %>
          </p>
          <br>
          <br>
          <h5>MiaDo is beta software, so please let us know at admin@miado.net if you see any problems!</h5>

       </center>
     </div>
   </div>
  </div>
</div>
