<header class="css-body-header">
  <%= render partial: 'shared/paginate_page_header',
             locals: { locals: { title: "#{pluralize(locals[:num_members], '*Member')}* in #{pluralize(locals[:num_teams], 'Team')}. Sorted by *#{locals[:sort_by_param]}*",
                                 path: method(:members_path),
                                 pagination_collection: locals[:teams_paginated]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <hr>
    <% locals[:teams_paginated].each_with_index do |installation, index| %>
      <%= render partial: 'members/admin_views/index_team',
                 locals: { locals: { index: index,
                                     paginate_per_page: locals[:paginate_per_page],
                                     team: installation,
                                     members: Member.members(slack_team_id: installation.slack_team_id),
                                     this_page_teams_page_param_name: 'page',
                                     teams_page_param_name: 'page'
                                   }
                         }
      %>
    <% end %>
    </div>
</main>
