<h3><%= "Members(#{locals[:members].length}) for Team" %>
    <u><%= link_to locals[:team].auth_json['info']['team'],
                   team_path(locals[:team]),
                   title: "Team added #{locals[:team].created_at.strftime("%a, %d %b %Y")}" %></u>
    <%= "(#{locals[:team].slack_team_id})" %>
</h3>
<% unless locals[:members].empty? %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Slack User Name</th>
        <th>Real Name</th>
        <th>Slack User Id</th>
        <th>Installed MiaDo on Date</th>
        <th>Last Created Task Date</th>
      </tr>
    </thead>
    <tbody>
      <% locals[:members].each do |member| %>
        <%= render partial: 'members/admin_views/index_member',
                   locals: { locals: { member: member,
                                       install_channel: Channel.installations(slack_team_id: locals[:team].slack_team_id,
                                                                              slack_user_id: member['slack_user_id']
                                                                             ).first,
                                       last_activity: ListItem.last_activity(slack_team_id: locals[:team].slack_team_id,
                                                                             slack_user_id: member['slack_user_id']
                                                                            )
                                     }
                           }
        %>
      <% end %>
    </tbody>
  </table>
  <% end %>
<br>
