<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: { locals: { title: 'Admin Dashboard - Members' } }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <h2><%= "#{locals[:members].length} Members in #{locals[:teams].length} Teams"  %></h2>
    <hr>
    <% locals[:teams].each do |channel| %>
      <%= render partial: 'members/admin_views/index_team',
                 locals: { locals: { team: channel,
                                     members: Channel.team_members(slack_team_id: channel.slack_team_id)
                                   }
                         }
      %>
    <% end %>
    </div>
</main>
