<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: { locals: { title: "#{locals[:total_members]} Members in #{locals[:teams].length} Teams",
                                 pagination_collection: locals[:members]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <hr>
    <% locals[:teams].each do |installation| %>
      <%= render partial: 'members/admin_views/index_team',
                 locals: { locals: { team: installation,
                                     members: Member.team_members(slack_team_id: installation.slack_team_id)
                                   }
                         }
      %>
    <% end %>
    </div>
</main>
