<% if locals[:installation] == nil %>
  <td>&nbsp;</td>
<% else %>
  <td><u><%= link_to locals[:installation].auth_json['info']['team'],
              team_path(locals[:installation]),
              title: "Team added #{locals[:installation].created_at.strftime("%a, %d %b %Y")}" %></u>
  </td>
<% end %>
