<% if @view.locals[:provider] == nil %>
  <td>&nbsp;</td>
<% else %>
  <td><%= link_to @view.locals[:provider].name,
              omniauth_provider_path(@view.locals[:provider]),
              title: "Omniauth Provider added #{@view.locals[:provider].created_at.strftime("%a, %d %b %Y")}" %>
  </td>
<% end %>
