<tr>
  <td><%= link_to @view.locals[:user].name,
              user_path(@view.locals[:user]),
              title: "Signed in via oauth #{@view.locals[:user].omniauth_providers.count} times." %>
  </td>
  <td><%= @view.locals[:user].email %></td>
  <td><%= @view.locals[:user].created_at.strftime("%a, %d %b %Y") %></td>
  <% user.teams.each_with_index do |team, index| %>
    <%= render partial: 'users/admin_views/index_team',
               locals: @view.locals = { team: team,
                                        teams_index: index
                                      }
    %>
  <% end %>
</tr>
