<header class="css-body-header">
  <%= render partial: 'shared/paginate_page_header',
             locals: { locals: { title: "#{pluralize(locals[:num_users], '*User')}*",
                                 path: method(:users_path),
                                 pagination_collection: locals[:users_paginated]
                               }
                     }
  %>
</header>
<br>

<main class="css-body-main">
  <div class="container">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Idx</th>
          <th>Name</th>
          <th>Email</th>
          <th>SignUp Date</th>
          <th>Last Activity<br>Now:&nbsp;&nbsp;<%= DateTime.current.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %></th>
          <th>Installations</th>
          <th>Teams</th>
        </tr>
      </thead>
      <tbody>
        <% locals[:users_paginated].each_with_index do |user, index| %>
          <%= render partial: 'users/admin_views/index_user',
                     locals: { locals: { index: index,
                                         user: user,
                                         per_page: locals[:per_page],
                                         page: locals[:page],
                                         num_installations: Installation.num_installations(user: user),
                                         num_teams: Installation.num_teams(user: user),
                                         last_activity_info: User.last_activity(info: true)
                                       }
                             }
          %>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
