<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: { locals: { title: "Install info: #{locals[:total_installations]} installations of #{locals[:bot_info][:name]}. #{locals[:teams].length} teams",
                                 pagination_collection: locals[:installations]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Team Name<br>(db recId)</th>
          <th>Installed by<br>@Install Date<br>*Last Activity Time<br>[Server Time Now]</th>
          <th>Members</th>
          <th>Channels</th>
        </tr>
      </thead>
      <tbody>
        <% locals[:installations].each do |installation| %>
          <%= render partial: 'installations/admin_views/index_install_info_team',
                     locals: { locals: { installation: installation,
                                         auth_info: installation.auth_json['info'],
                                         rtm_start_members: installation.rtm_start_json['users'],
                                         rtm_start_channels: installation.rtm_start_json['channels'],
                                         last_activity: Channel.last_activity(slack_team_id: installation.slack_team_id)
                                       }
                             }
          %>
        <% end %>
      </tbody>
    </table>
    </div>
</main>
