<header class="css-body-header">
  <%= render partial: 'shared/paginate_page_header',
             locals: { locals: {
  title: "#{pluralize(locals[:num_installations], '*Installation')}* of #{locals[:bot_info][:name]}, #{pluralize(locals[:num_teams], 'team')}.",
                                 path: method(:installations_path),
                                 pagination_collection: locals[:installations_paginated]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Idx</th>
          <th>Name</th>
          <th>recId</th>
          <th>Installed Date</th>
          <th>Last Activity (type)<br>Now:&nbsp;&nbsp;<%= DateTime.current.in_time_zone("Pacific Time (US & Canada)").strftime('%a %B %e, %Y %l:%M%P - PT') %></th>
        </tr>
      </thead>
      <tbody>
        <% locals[:installations_paginated].each_with_index do |installation, index| %>
          <%= render partial: 'installations/admin_views/index_installation_team',
                     locals: { locals: { index: index,
                                         per_page: locals[:per_page],
                                         page: locals[:page],
                                         installation: installation,
                                         auth_info: installation.auth_json['info'],
                                       }
                             }
          %>
        <% end %>
      </tbody>
    </table>

    </div>
</main>
