<header class="css-body-header">
  <%= render partial: 'shared/index_page_header',
             locals: { locals: { title: "Installations(#{locals[:total_installations]}) of #{locals[:bot_info][:name]} into (#{locals[:total_teams]}) teams",
                                 pagination_collection: locals[:installations]
                               }
                     }
  %>
</header>

<main class="css-body-main">
  <div class="container">
    <% locals[:installations].each do |installation| %>
      <%= render partial: 'installations/admin_views/index_installation_team',
                 locals: { locals: { installation: installation,
                                     auth_info: installation.auth_json['info'],
                                     last_activity: Channel.last_activity(slack_team_id: installation.slack_team_id)
                                   }
                         }
      %>
    <% end %>
    </div>
</main>
