<!--  # ======== Begin: PAGE FOOTER -global- ========== -->
<footer class="css-page-footer">
  <header>
    <% if @view.policy(:include, :back_button) %>
      <div class="container">
        <%= link_to 'Back', @view.back_path, class: 'btn btn-xs btn-primary' %>
      </div>
    <% end %>
    <hr>
  </header>
  <nav>
    <div class="container">
      <p class="text-muted">
        Created by
        <a href="#"
           data-toggle="popover"
           title="A student at Block.io"
           data-placement="top"
           data-trigger="hover"
           data-html="true"
           data-content="<img src='https://cdn-photos.bloc.io/medium/2317655/photo.JPG?1450380571'>"
          >A student at Block.io
        </a>
        <% #who is on %>
        <% #= link_to 'LinkedIn', 'https://www.linkedin.com/in/raynovarina' %>
      </p>
    </div>
  </nav>
</footer>
<!-- # ======== End: PAGE FOOTER - global ========== -->
