Created by
<a href="#"
   data-toggle="popover"
   title=""
   data-placement="top"
   data-trigger="hover"
   data-html="true"
   data-content="<img width='80px' height='80px' src='https://cdn-photos.bloc.io/medium/2317655/photo.JPG?1450380571'>"
   >Ray
   <% #title="A student at Block.io" %>
   <% #A student at Block.io %>
</a>
<% #who is on %>
  <% #= link_to 'LinkedIn', 'https://www.linkedin.com/in/raynovarina' %>
