<!-- # ======== Begin: PAGE HEADER -global- ========== -->
<header class="css-page-header">
  <!-- # == Begin: Page Header Navigation - Navbar, inverse == -->
  <nav>
    <div class="navbar navbar-inverse">
      <div class="container">
        <%= render 'layouts/page_header_navbar_left' %>
        <%= render 'layouts/page_header_navbar_right' %>
      </div>
    </div>
  </nav>
  <!-- # ======== End: Page Header Navigation == -->
</header>
<!-- # ======== End: PAGE HEADER -global- ========== -->
